:root {
    --color-background: #FFF2F2;
    --color-primary-button: #CC6E00;
    --color-primary-text: #432303;
    --color-secondary-element: #FCDEC0;
}

body {
    font-family: "Merriweather", serif;
    background-color: var(--color-background); 
    color: var(--color-primary-text); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

h2 {
    color: var(--color-primary-text);
    font-size: 60px;
    font-weight: 900; 
    margin-bottom: -15px;
}

.tagline {
    font-style: bold;
    font-family: "Kite One", serif;
    font-weight: 400;
    margin-left: 190px;
    margin-bottom: 25px;
    
}

.button-group {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

button {
    background-color: #e98218;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: #d87210;
}

.recycle-icon {
    margin-top: 5px;
}

#webcam-container {
    width: 300px;
    height: 300px;
    border: 3px solid var(--color-secondary-element);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-secondary-element);
    margin-top: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

#webcam-container canvas,
#webcam-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.dashboard-title h3 {
    font-size: 20px;
    font-family: "Kite One", serif;
    color: var(--color-primary-text);
    margin: 0;
    text-align: center;
}

.dashboard-title {
    margin-top:30px;
    background-color: var(--color-secondary-element);
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dashboard {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.dashboard-thing {
    background-color: var(--color-secondary-element);
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height : fit-content;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.dashboard-thing h4 {
    margin: 10px 0 5px 0;
    font-size: 16px;
    color: var(--color-primary-text);
}

.dashboard-thing p {
    margin: 10px;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
}
#label-container {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#recycleBtn {
    margin-top: 10px;
    background-color: #e98218;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

#recycleBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#recycleBtn:hover:not(:disabled) {
    background-color: #d87210;
}

#prediction-text {
    font-size: 24px;
    color: var(--color-primary-text);
}

#recycle-msg {
    margin-top: 7px;
    align-self: center;
    font-size: 13px;
    font-weight: bold;
}