:root {
    --color-background: #FFF2F2;
    --color-primary-button: #CC6E00;
    --color-primary-text: #432303;
    --color-secondary-element: #FCDEC0;
}

body {
    font-family: "Merriweather", serif;
    background-color: var(--color-background); 
    color: var(--color-primary-text); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

h2 {
    color: var(--color-primary-text);
    font-size: 60px;
    font-weight: 900; 
    margin-bottom: -15px;
}

.tagline {
    font-style: bold;
    font-family: "Kite One", serif;
    font-weight: 400;
    margin-left: 190px;
    margin-bottom: 25px;
    
}

.button-group {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

button {
    background-color: #e98218;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: #d87210;
}

.recycle-icon {
    margin-top: 5px;
}

#webcam-container {
    width: 300px;
    height: 300px;
    border: 3px solid var(--color-secondary-element);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-secondary-element);
    margin-top: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

#webcam-container canvas,
#webcam-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#label-container {
    color: var(--color-primary-text); 
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
